@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* resta al widht los atributos de caja que se declaren */ }

img {
  max-width: 100%; }

html {
  min-height: 100%; }

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #444; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 2.5rem;
      font-weight: bold; } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 3.5rem;
      font-weight: bold; } }

h2 {
  font-size: 1.4rem;
  font-weight: bold; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 2rem;
      font-weight: bold; } }
  @media only screen and (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      font-weight: bold; } }

h3 {
  font-size: 1.3rem;
  font-weight: normal;
  color: #666; }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 1.5rem;
      font-weight: normal;
      color: #666; } }
  @media only screen and (min-width: 1024px) {
    h3 {
      font-size: 1.5rem;
      font-weight: normal;
      color: #666; } }

h4 {
  font-size: 1.2rem;
  font-weight: normal;
  color: #666; }
  @media only screen and (min-width: 768px) {
    h4 {
      font-size: 1.4rem;
      font-weight: normal;
      color: #666; } }
  @media only screen and (min-width: 1024px) {
    h4 {
      font-size: 1.2rem;
      font-weight: normal;
      color: #666; } }

p {
  font-size: 1rem;
  font-weight: normal;
  color: #666; }
  @media only screen and (min-width: 768px) {
    p {
      font-size: 1.1rem;
      font-weight: normal; } }
  @media only screen and (min-width: 1024px) {
    p {
      font-size: 1.2rem;
      font-weight: normal; } }

.contains__nav {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 2% 3% 3% 3%;
  width: 100vw;
  z-index: 2; }
  @media only screen and (min-width: 768px) {
    .contains__nav {
      top: 30px;
      border-radius: 50px;
      width: 90%;
      padding: 1% 3%;
      left: 5%; } }

.nav__logo {
  min-width: 33vh;
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 768px) {
    .nav__logo {
      min-width: 20vh;
      display: flex;
      align-items: center; } }

#nav__link--active {
  color: #CEAC39; }

.hover--bold:hover {
  font-weight: 500; }

@media only screen and (min-width: 992px) {
  .animation:hover {
    transition: all 0.4s ease-in-out;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s; }
  @keyframes icon__animation {
    0%, 100% {
      transform: scale3d(1, 1, 1); }
    30% {
      transform: scale3d(1.25, 0.75, 1); }
    40% {
      transform: scale3d(0.75, 1.25, 1); }
    50% {
      transform: scale3d(1.15, 0.85, 1); }
    65% {
      transform: scale3d(0.95, 1.05, 1); }
    75% {
      transform: scale3d(1.05, 0.95, 1); } }
  .icon__animation:hover {
    animation: icon__animation .9s both;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-name: icon__animation; } }

.mt2 {
  margin-top: 2vh; }

.mt20 {
  margin-top: 20vh; }
  @media only screen and (min-width: 768px) {
    .mt20 {
      margin-top: 0vh; } }

.mt15 {
  margin-top: 15vh; }
  @media only screen and (min-width: 768px) {
    .mt15 {
      margin-top: 20vh; } }

.mr--auto {
  margin-right: auto; }

.mr5 {
  margin-right: 5%; }

.mb3 {
  margin-bottom: 3vh; }

.mb15 {
  margin-bottom: 15vh; }

.mb20 {
  margin-bottom: 20vh; }
  @media only screen and (min-width: 768px) {
    .mb20 {
      margin-bottom: 20vh; } }

.ml--auto {
  margin-left: auto; }

.ml5 {
  margin-left: 5%; }

.contact__link {
  display: flex;
  text-decoration: none; }

.color--middle {
  color: #444; }

.contains {
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

#header {
  grid-area: header; }

#main {
  grid-area: main; }

#footer {
  grid-area: footer; }

.header {
  display: flex;
  position: relative; }

.header__title {
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 5%;
  margin-top: 30vh;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .header__title {
      left: 5%; } }
  @media only screen and (min-width: 1024px) {
    .header__title {
      margin-top: 25vh; } }

.header__img {
  object-position: center top;
  width: 100vw;
  height: 100vh;
  object-fit: cover; }
  @media only screen and (min-width: 768px) {
    .header__img {
      display: flex;
      width: 100vw; } }

.hidden {
  display: none; }
  @media only screen and (min-width: 768px) {
    .hidden {
      display: inline-block; } }

/* Portada section img */
.section__img {
  object-position: center top;
  width: 100vw;
  height: 80vh;
  object-fit: cover; }

.bg__primary {
  background-color: rgba(40, 67, 23, 0.78); }

/* /Portada section img */
.header__subtitle {
  display: none; }
  @media only screen and (min-width: 768px) {
    .header__subtitle {
      margin: 1% auto 2% auto;
      display: flex; } }

.header__btn {
  width: 55vw;
  font-size: 1.2rem;
  font-weight: normal;
  color: #fff;
  background-color: #536C43;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }
  .header__btn:hover {
    color: #fff;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3); }
  @media only screen and (min-width: 768px) {
    .header__btn {
      width: 250px; } }

/* Main intro */
.intro {
  width: 60vw;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .intro {
      width: 50vw; } }
  @media only screen and (min-width: 1024px) {
    .intro {
      width: 40vw; } }

/* /Main intro */
/* Main service index */
.service {
  margin: 0 5% 10% 5%; }

.service__galery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem; }
  @media only screen and (min-width: 768px) {
    .service__galery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; } }

.service__galery--img {
  max-width: 90vw; }
  @media only screen and (min-width: 1024px) {
    .service__galery--img {
      max-width: 27vw; } }

/* /Main service index */
/* Main column */
.column {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 768px) {
    .column {
      flex-direction: row;
      justify-content: space-evenly;
      column-gap: 2rem; } }

.column__text {
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .column__text {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      width: 30vw; } }

/* /Main column */
/* Main card */
.card__contains {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem; }
  @media only screen and (min-width: 768px) {
    .card__contains {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      column-gap: 4rem; } }

.card__contains__text {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80vw; }
  @media only screen and (min-width: 768px) {
    .card__contains__text {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 35vw; } }
  @media only screen and (min-width: 1024px) {
    .card__contains__text {
      width: 25vw; } }

.card__contains__img {
  width: 100%; }

/* /Main card */
.title--center {
  text-align: center;
  margin-bottom: 10%;
  color: #444; }
  @media only screen and (min-width: 1024px) {
    .title--center {
      text-align: center;
      margin-bottom: 5%;
      color: #444; } }

.title--section {
  color: #fff; }

/* Boton flotante */
.btn-float {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  background-color: #65d258;
  padding: 0.8rem 1rem;
  position: fixed;
  bottom: 5%;
  right: 5%;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99; }
  .btn-float:hover {
    font-weight: normal;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    color: #fff; }
  @media only screen and (min-width: 768px) {
    .btn-float {
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 1px;
      text-decoration: none;
      color: #fff;
      border-radius: 5px;
      background-color: #65d258;
      padding: 1rem 2rem;
      position: fixed;
      bottom: 5%;
      right: 5%;
      transition: all 300ms ease 0ms;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); } }

.brand--whatsapp--float {
  font-size: 1.3rem;
  font-weight: bold;
  vertical-align: middle; }

/* /boton flotante */
/* Call to action "Seguinos" */
.action {
  color: #fff;
  background-color: #536C43;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%; }
  @media only screen and (min-width: 1024px) {
    .action {
      color: #fff;
      background-color: #536C43;
      text-align: center;
      padding-top: 7%;
      padding-bottom: 7%; } }

.action__content {
  margin-top: 4%; }
  @media only screen and (min-width: 1024px) {
    .action__content {
      margin-top: 2%; } }

.action__icons {
  color: #fff;
  font-size: 1.4rem; }
  .action__icons:hover {
    color: #CEAC39; }

/* /Call to action "Seguinos" */
/* Call to action "Contactanos" */
.action__btn {
  font-size: 1.2rem;
  font-weight: normal;
  color: #536C43;
  background-color: #fff;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 85vw; }
  .action__btn:hover {
    box-shadow: 0px 0px 25px #fff; }
  @media only screen and (min-width: 768px) {
    .action__btn {
      font-size: 1.3rem;
      width: 250px; } }

.colorWhite {
  color: #fff; }

/* /Call to action "Contactanos" */
/* Tabla Price Acopio */
.prices__table {
  width: 90vw;
  border-collapse: collapse;
  box-shadow: 0px 0px 25px #fff; }
  @media only screen and (min-width: 768px) {
    .prices__table {
      width: 80vw; } }
  @media only screen and (min-width: 1024px) {
    .prices__table {
      width: 60vw; } }

.prices__table__tr:nth-child(even) {
  background-color: #f2f2f2; }

.prices__table__tr:hover {
  background-color: #ddd; }

.prices__table__td {
  padding: 2%;
  border: 1px solid #ddd;
  text-align: center; }

/* /Tabla Price Acopio */
/* Mapa */
.content__map {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .content__map {
      flex-direction: row;
      column-gap: 2rem;
      align-items: center;
      justify-content: space-evenly; } }

.map--responsive {
  width: 90vw;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }
  @media only screen and (min-width: 768px) {
    .map--responsive {
      width: 80vw;
      padding-bottom: 40%; } }
  @media only screen and (min-width: 1024px) {
    .map--responsive {
      width: 60vw; } }

.map--responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

/* Mapa */
/* Contacto */
.contact__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .contact__details {
      align-items: flex-start;
      flex-direction: row;
      align-items: top;
      justify-content: space-evenly; } }

.contact__details--mails {
  justify-content: center; }

.mails__mail, .action__mail {
  font-size: 1rem;
  font-weight: normal;
  color: #444;
  text-decoration: none; }
  @media only screen and (min-width: 768px) {
    .mails__mail, .action__mail {
      font-size: 1.1rem;
      font-weight: normal; } }
  @media only screen and (min-width: 1024px) {
    .mails__mail, .action__mail {
      font-size: 1.2rem;
      font-weight: normal; } }
  .mails__mail:hover, .action__mail:hover {
    color: #000; }

.action__mail {
  color: #fff; }
  .action__mail:hover {
    color: #CEAC39; }

.mails__icons {
  font-size: 1.3rem;
  color: #444;
  text-decoration: none; }
  .mails__icons:hover {
    color: #000; }

.contact__social {
  display: flex;
  flex-direction: column;
  align-items: center; }

.icon__primary {
  font-size: 1.3rem;
  color: #536C43; }
  .icon__primary:hover {
    color: #CEAC39; }

.form {
  order: 1;
  text-align: center;
  width: 90vw;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10%; }
  @media only screen and (min-width: 768px) {
    .form {
      order: 2;
      text-align: center;
      width: 60vw;
      padding-left: 5%;
      padding-right: 5%;
      margin-top: 0%;
      vertical-align: top; } }

.form__input__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%; }
  @media only screen and (min-width: 768px) {
    .form__input__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 4%; } }

.form__input__row--input {
  width: 75%;
  padding: 2%;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }
  @media only screen and (min-width: 768px) {
    .form__input__row--input {
      width: 75%;
      padding: 2%;
      margin-left: 20px;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); } }

.form__input__select {
  width: 100%;
  padding: 2%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 3%; }
  @media only screen and (min-width: 768px) {
    .form__input__select {
      width: 100%;
      padding: 2%;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      margin-bottom: 4%; } }

/* /Contacto */
#footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "footer--adress" "footer--contact" "copyright"; }
  @media only screen and (min-width: 768px) {
    #footer {
      display: grid;
      grid-template-columns: 29% 13% 24% 24%;
      grid-template-rows: auto auto;
      grid-template-areas: "footer--logo footer--link footer--adress footer--contact"  "copyright copyright copyright copyright"; } }

.footer {
  list-style-type: none;
  padding: 5% 5% 2% 5%;
  justify-content: center; }
  @media only screen and (min-width: 768px) {
    .footer {
      padding: 5% 5% 1% 5%;
      justify-content: space-between; } }

.footer__content {
  vertical-align: top; }

.footer__content--links {
  vertical-align: top; }

.footer__content__item {
  margin-top: 1%; }
  @media only screen and (min-width: 768px) {
    .footer__content__item {
      margin-top: 3%; } }

.footer__content__item__text {
  color: #444;
  font-size: 0.90rem; }

.footer__content__item__mail {
  color: #444;
  font-size: 0.90rem;
  text-decoration: none; }
  .footer__content__item__mail:hover {
    color: #000;
    font-size: 0.90rem;
    font-weight: 500; }

.footer__content__item__link {
  text-decoration: none;
  color: #444;
  font-size: 0.90rem; }
  .footer__content__item__link:hover {
    color: #000;
    font-size: 0.90rem;
    font-weight: 500; }

.footer__content__item__link--active {
  text-decoration: none;
  color: #CEAC39;
  font-size: 0.90rem; }
  .footer__content__item__link--active:hover {
    color: #CEAC39; }

.footer__content__item__link--author {
  text-decoration: none;
  color: #999;
  font-size: 0.90rem; }
  .footer__content__item__link--author:hover {
    color: #000; }

.footer__copyright {
  margin: 2% auto 2% auto;
  text-align: center;
  font-size: 0.95rem;
  color: #444; }
  @media only screen and (min-width: 768px) {
    .footer__copyright {
      grid-area: copyright; } }

.footer__content--hidden {
  display: none;
  line-height: 1.8rem; }
  @media only screen and (min-width: 768px) {
    .footer__content--hidden {
      display: block; } }

.footer--adress {
  margin-bottom: 3%;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .footer--adress {
      grid-area: footer--adress;
      text-align: left; } }

.footer--contact {
  margin-bottom: 3%;
  text-align: center;
  line-height: 1.8rem; }
  @media only screen and (min-width: 768px) {
    .footer--contact {
      grid-area: footer--contact;
      text-align: left; } }

.brand--whatsapp {
  background-color: #65d258;
  color: #fff;
  padding: 0.30rem 0.50rem;
  border-radius: 50%; }
  .brand--whatsapp:hover {
    color: #65d258;
    background-color: #fff;
    border: #65d258 2px solid; }

@media only screen and (min-width: 768px) {
  .footer--logo {
    grid-area: footer--logo; }
  .footer--link {
    grid-area: footer--link; }
  .footer__content__logo {
    width: 80%; } }
