// variables
$colorPrimary:#536C43;
$colorSecondary:#CEAC39;
$colorbright:#fff;
$colorLight:#999;
$colorMiddle:#444;
$colorDark:#000;
$shadowBright:0px 0px 25px #fff;
$shadowLight:0px 0px 25px #999;
$shadowMiddle:0px 0px 25px #304622;