.mt2{
    margin-top: 2vh;
}
.mt__3{
    margin-top: 1rem;
    @media only screen and (min-width: 768px) {
        margin-top: 2rem;
    }
    @media only screen and (min-width: 1024px) {
        margin-top: 3rem;
    }
}
.mt20{
    margin-top: 20vh;
    @media only screen and (min-width: 768px) {
        margin-top: 0vh;
    }
}
.mt15{
    margin-top: 15vh;
    @media only screen and (min-width: 768px) {
        margin-top: 20vh;
    }
}
.mx__5vw{
    margin-right: 5vw;
    margin-left: 5vw;
}
.mr--auto{
    margin-right: auto;
}
.mr5{
    margin-right: 5%;
}
.mb__3{
    margin-bottom: 1rem;
    @media only screen and (min-width: 768px) {
        margin-bottom: 2rem;
    }
    @media only screen and (min-width: 1024px) {
        margin-bottom: 3rem;
    }
}
.mb3{
    margin-bottom: 3vh;
}
.mb10{
    margin-bottom: 5vh;
    @media only screen and (min-width: 768px) {
        margin-bottom: 10vh;
    }
}
.mb15{
    margin-bottom: 15vh;
}
.mb20{
    margin-bottom: 20vh;
    @media only screen and (min-width: 768px) {
        margin-bottom: 20vh;
    }
}
.ml--auto{
    margin-left: auto;
}
.ml5{
    margin-left: 5%;
}
.display__i{
    display: inline;
}
.contact__link{
    display: flex;
    text-decoration: none;
}
.color--middle{
    color: $colorMiddle;
}
.icon__secondary{
    color: $colorSecondary;
    font-size: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}
.contains{
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer";
}
#header{
    grid-area: header;
}
#main{
    grid-area: main;
}
#footer{
    grid-area: footer;
}
.header {
    display: flex;
    position: relative;
}
.header__title {
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 5vw;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
        margin-top: 30vh;
    }
}
.header__img{
    object-position: center top;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    @media only screen and (min-width: 768px) {
        display: flex;
        width: 100vw;
    }
}
.position__r{
    position: relative;
}
.elementor-background-overlay{
    background-color: $colorPrimary;
    opacity: 0.43;
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 50vh;
    @media only screen and (min-width: 768px) {
        width: 100vw;
        height: 80vh;
    }
}
.hidden{
    display: none;
    @media only screen and (min-width: 768px) {
        display: inline-block;
    }
}
/* Portada section img */
.section__img{
    object-position: center top;
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    @media only screen and (min-width: 768px) {
        width: 100vw;
        height: 80vh;
    }
}
.bg__primary{
    background-color: rgba(40,67,23,0.78);
}
/* /Portada section img */
.header__subtitle{
    display: none;
    @media only screen and (min-width: 768px) {
        margin: 1% auto 2% auto;
        display: flex;
    }
}
.header__btn{
    width: 55vw;
    font-size: 1.2rem;
    font-weight: normal;
    color: $colorBright;
    background-color: $colorPrimary;
    border-radius: 5px;
    border-style: none;
    box-shadow: $shadowLight;
    &:hover{
        color: $colorBright;
        box-shadow: $shadowLight--hover;
    }
    @media only screen and (min-width: 768px) {
        width: 250px;
    }
}
/* Main intro */
.intro{
    width: 60vw;
    text-align: center;
    @media only screen and (min-width: 768px) {
        width: 50vw;
    }
    @media only screen and (min-width: 1024px) {
        width: 40vw;
    }
}
/* /Main intro */
/* Main service index */
.service{
    margin: 0 5vw 0 5vw;
    @media only screen and (min-width: 768px) {
        margin: 0 5vw 0 5vw;
    }
    @media only screen and (min-width: 1024px) {
        margin: 0 15vw 0 15vw;
    }
}
.service__galery{
    margin: 0 15% 10% 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.service__galery--img{
    max-width: 90vw;
    @media only screen and (min-width: 1024px) {
        max-width: 27vw;
    }
}
.service__cosembrar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        gap: 0rem;
        justify-content: space-between;
    }
}
.service__cosembrar__img{
    @media only screen and (min-width: 768px) {
        width: 40vw;
    }
}
.service__cosembrar__img--style{
    border-radius: 10px;
    box-shadow: $shadowLight--hover;
}
.service__cosembrar__text{
    text-align: start;
    @media only screen and (min-width: 768px) {
        width: 45vw;
    }
    @media only screen and (min-width: 1024px) {
        width: 40vw;
    }
}
.link__more{
    font-weight: 500;
    color: $colorSecondary;
    font-size: 1rem;
    text-decoration: none;
    &:hover{
        color: $colorMiddle;
    }
    @media only screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}
.size3{
    font-size: 3rem;
    vertical-align: middle;
}
/* /Main service index */
/* semillas (galeria productos) */
.products__galery{
    margin-left: 5vw;
    margin-right: 5vw;
}
.products__galery__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.products__galery__content__img{
    max-width: 60vw;
    @media only screen and (min-width: 768px) {
        max-width: 27vw;
    }
}
/* Main column */
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: 2rem;
    }
}
.column__text{
    text-align: center;
    @media only screen and (min-width: 768px) {
        box-shadow: $shadowLight;
        width: 30vw;
    }
}
/* /Main column */
/* Main card */
.card__contains{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
    @media only screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        column-gap: 4rem;
    }
}
.card__contains__text{
    box-shadow: $shadowLight;
    text-align: center;
    width: 80vw;
    @media only screen and (min-width: 768px) {
        box-shadow: $shadowLight;
        text-align: center;
        width: 35vw;
    }
    @media only screen and (min-width: 1024px) {
        width: 25vw;
    }
}
.card__contains__img{
    width: 100%;
}
/* /Main card */
.title--center{
    text-align: center;
    margin-bottom: 10%;
    color: $colorMiddle;
    @media only screen and (min-width: 1024px) {
        text-align: center;
        margin-bottom: 5%;
        color: $colorMiddle;
    }
}
.title--section{
    font-weight: 500;
    font-size: 2.5rem;
    color: $colorBright;
    text-shadow: 2px 2px 4px rgba($colorDark, 0.45);
    @media only screen and (min-width: 768px) {
        font-size: 2.5rem;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 3rem;
    }
}
 /* Boton flotante */
.btn-float {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    color: $colorBright;
    border-radius: 5px;
    background-color: $colorWhatsapp;
    padding: 0.8rem 1rem;
    position: fixed;
    bottom: 5%;
    right: 5%;
    transition: all 300ms ease 0ms;
    box-shadow: $shadowLight;
    z-index: 99;
    &:hover {
        font-weight: normal;
        box-shadow: $shadowLight--hover;
        transform: translateY(-5px);
        color: $colorBright;
    }
    @media only screen and (min-width: 768px) {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-decoration: none;
        color: $colorBright;
        border-radius: 5px;
        background-color: $colorWhatsapp;
        padding: 1rem 2rem;
        position: fixed;
        bottom: 5%;
        right: 5%;
        transition: all 300ms ease 0ms;
        box-shadow: $shadowLight;
    }
}
.brand--whatsapp--float{
    font-size: 1.3rem;
    font-weight: bold;
    vertical-align: middle;
}
/* /boton flotante */
/* Call to action "Seguinos" */
.action{
    color: $colorBright;
    background-color: $colorPrimary;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    @media only screen and (min-width: 1024px) {
        color: $colorBright;
        background-color: $colorPrimary;
        text-align: center;
        padding-top: 7%;
        padding-bottom: 7%;
    }
}
.action__content{
    margin-top: 5%;
    margin-bottom: 1%;
    @media only screen and (min-width: 1024px) {
        margin-top: 3%;
        margin-bottom: 1%;
    }
}
.action__icons{
    color: $colorBright;
    font-size: 1.4rem;
    &:hover{
        color: $colorBright;
        text-shadow: 3px 3px 11px rgba($colorBright, 0.45);
    }
}
/* /Call to action "Seguinos" */
/* Call to action "Contactanos" */
.action__btn{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: $colorPrimary;
    background-color:  $colorBright;
    border-radius: 5px;
    border-style: none;
    box-shadow: $shadowLight;
    padding: 9px 30px 11px;
    &:hover{
        @include shadowWhite();
        color: $colorPrimary;
    }
    @media only screen and (min-width: 768px) {
        font-size: 1.3rem;
        padding: 7px 20px 9px;
    }
}
.colorWhite{
    color: $colorBright;
}
/* /Call to action "Contactanos" */
/* Tabla Price Acopio */
.prices__table{
    width: 90vw;
    @media only screen and (min-width: 768px) {
        width: 80vw;
    }
    @media only screen and (min-width: 1024px) {
        width: 60vw;
    }
}
.prices__table__td{
    padding: 2%;
    text-align: center;
}
/* /Tabla Price Acopio */
/* Mapa */
.content__map{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items:center;
    text-align: center;
    margin-right: 5vw;
    margin-left: 5vw;
    @media only screen and (min-width: 768px) {
        flex-direction: row;
        column-gap: 1rem;
        align-items: center;
        justify-content: space-between;
    }
}
.map--responsive{
    width: 90vw;
    overflow:hidden;
    height:0;
    position:relative;
    padding-bottom:56.25%;
    @media only screen and (min-width: 768px) {
        width: 65vw;
        padding-bottom:50%;
    }
    @media only screen and (min-width: 1024px) {
        width: 60vw;
    }
}
.map--responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.map--responsive__phone{
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    @media only screen and (min-width: 768px) {
        font-size: 1.2rem;
    }
}
/* Mapa */
/* Contacto */
.contact__content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
    @media only screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.contact__content__mails{
    justify-content: center;
}
.contact__content__mails--title{
    font-size: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.3rem;
    @media only screen and (min-width: 768px) {
        font-size: 1.15rem;

    }
    @media only screen and (min-width: 1024px) {
        font-size: 1.4rem;
        margin-top: 0.8rem;
        margin-bottom: 0.6rem;
    }
}
.contact__content__mails--mail{
    font-weight: normal;
    color: $colorMiddle;
    text-decoration: none;
    @media only screen and (min-width: 768px) {
        font-weight: normal;
    }
    &:hover{
        color: $colorDark;
    }
}
 //extend
.action__mail{
    @extend .contact__content__mails--mail;
    color: $colorBright;
    font-size: 1.1rem;
    &:hover{
        color: $colorBright;
        text-shadow: 3px 3px 11px rgba($colorBright, 0.45);
    }
    @media only screen and (min-width: 768px) {
        font-size: 1.3rem;
    }
}
.icons__contact{
    font-size: 2rem;
    color: $colorMiddle;
    text-decoration: none;
    @media only screen and (min-width: 768px) {
        font-size: 2.4rem;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 2.8rem;
    }
}
.icon__primary{
    font-size: 1.3rem;
    color: $colorPrimary;
    &:hover{
        text-shadow: 2px 2px 4px rgba($colorDark, 0.45);
    }
    @media only screen and (min-width: 768px) {
        font-size: 2rem;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 2.4rem;
    }
}
/* /Contacto */
.service__detail{
    display: flex;
    flex-direction: column;
    gap: 0.90rem;
    @media only screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        gap: 0rem;
    }
    @media only screen and (min-width: 1024px) {
    }
}
.service__detail__text{
    width: 90vw;
    margin-left: 5vw;
    @media only screen and (min-width: 768px) {
        width: 45vw;
    }
}
.service__detail__images{
    justify-content: center;
    display: flex;
}
.service__detail__img{
    min-width: 300px;
    max-width: 300px;
    @media only screen and (min-width: 768px) {
        min-width: 300px;
        max-width: 300px;
        margin-top: -5%;
        margin-right: 5vw;
    }
    @media only screen and (min-width: 1024px) {
        min-width: 430px;
        max-width: 430px;
        margin-top: -5%;
    }
}
.service__detail__nose{
    min-width: 300px;
    max-width: 300px;
    justify-content: center;
    display: flex;
    @media only screen and (min-width: 768px) {
        min-width: 300px;
        max-width: 300px;
    }
    @media only screen and (min-width: 1024px) {
        min-width: 430px;
        max-width: 430px;
    }
}
.img__intro{
    min-width: 300px;
    max-width: 300px;
    @media only screen and (min-width: 768px) {
        min-width: 300px;
        max-width: 300px;
    }
    @media only screen and (min-width: 1024px) {
        min-width: 430px;
        max-width: 430px;
    }
}
.img__intro__circle{
    @extend .img__intro;
        border-radius: 50%;
}
.img__intro__rounded{
    position: absolute;
    border-radius: 50%;
    left: 20px;
    top: 200px;
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
    border: 3px solid #fff;
    box-shadow: $shadowLight;
    @media only screen and (min-width: 768px) {
        width: 140px;
        height: 140px;
        min-width: 140px;
        min-height: 140px;
        max-width: 140px;
        max-height: 140px;
        border: 4px solid #fff;
        left: 30px;
        top: 215px;
    }
    @media only screen and (min-width: 1024px) {
        width: 150px;
        height: 150px;
        min-width: 140px;
        min-height: 140px;
        max-width: 140px;
        max-height: 140px;
        border: 6px solid #fff;
        left: 35px;
        top: 300px;
    }
}
.title--center--content{
    text-align: center;
    margin: 20% 5vw 5% 5vw;
    color: $colorMiddle;
    @media only screen and (min-width: 768px) {
        margin-bottom: 5%;
        margin-top: 0;
    }
    @media only screen and (min-width: 1024px) {
        margin-top: 8%;
    }
}
.cotizacion{
    display: flex;
    margin-right: 5vw;
    margin-left: 5vw;
    flex-direction: column;
    align-items: center;
    row-gap: 5;
    @media only screen and (min-width: 768px) {
        margin-right: 5vw;
        margin-left: 5vw;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    @media only screen and (min-width: 1024px) {
        align-items: flex-start;
    }
}
.cotizacion--date{
    display: flex;
    justify-content: right;
    font-size: 1rem;
}
.cotizacion--bank{
    font-size: 0.90rem;
    font-weight: 400;
    text-align: right;
    @media only screen and (min-width: 768px) {
        font-size: 1rem;
        text-align: left;
        font-weight: 200;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 1.5rem;
        text-align: left;
    }
}
.cotizacion--details{
    font-size: 2rem;
    font-weight: 400;
}
.cotizacion__granos--details{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cotizacion__granos--details--strong{
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 1rem;
    @media only screen and (min-width: 768px) {
        margin-right: 1rem;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 1.5rem;
        margin-right: 5rem;
    }
}
.cotizacion__dolar{
    margin-bottom: 5%;
    max-width: 290px;
    @media only screen and (min-width: 768px) {
        margin-bottom: 0;
        max-width: 290px;
    }
    @media only screen and (min-width: 1024px) {
        max-width: 100%;
    }
}
.cotizacion__granos{
    margin-bottom: 5%;
    max-width: 290px;
    @media only screen and (min-width: 768px) {
        margin-bottom: 0;
        max-width: 290px;
    }
    @media only screen and (min-width: 1024px) {
        max-width: 100%;
    }
}
/* Semillas  */
.products {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-right: 5vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    @media only screen and (min-width: 768px) {
        gap: 4rem;
    }
}
.products__brand__img {
    width: 30vw;
    @media only screen and (min-width: 768px) {
        width: 15vw;
    }
}
/* /Semillas  */
/* Nosotros  */
.us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-left: 5vw;
    margin-right: 5vw;
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.us__img{
    @media only screen and (min-width: 768px) {
        width: 40vw;
    }
}
.style__h1{
    font-size: 1.5rem;
    font-weight: 500;
    color: #444;
    @media only screen and (min-width: 768px) {
        font-size: 2.5rem;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 3.7rem;
    }
}
/* /Nosotros  */


/* Header Index */
header video { width: 100%; }
svg { 
    width: 100%;
    position:absolute;
    top: 0;
    left: 0; // needed for FF, Safari, Edge
    height: 100%;
}
svg rect {
    fill: white;
}
svg > rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
}
/* /Header Index */


