@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #444;
    @media only screen and (min-width: 325px) {
        font-size: 1.5rem;
    }
    @media only screen and (min-width: 768px) {
        font-size: 2.5rem;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 3.7rem;
    }
}
h2 {
    font-size: 1.4rem;
    font-weight: 500;
    @media only screen and (min-width: 768px) {
        font-size: 2rem;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 2.9rem;
    }
}
h3{
    font-size: 1.3rem;
    font-weight: normal;
    color: #666;
    @media only screen and (min-width: 768px) {
        font-size: 1.8rem;
        font-weight: normal;
        color: #666;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 2.5rem;
        font-weight: normal;
        color: #666;
    }
}
h4{
    font-size: 1.2rem;
    font-weight: normal;
    color: #666;
    @media only screen and (min-width: 768px) {
        font-size: 1.4rem;
        font-weight: normal;
        color: #666;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 1.2rem;
        font-weight: normal;
        color: #666;
    }
}
p {
    font-size: 0.80rem;
    font-weight: normal;
    color: #757575;
    @media only screen and (min-width: 325px) {
        font-size: 1rem;
        font-weight: normal;
    }
    @media only screen and (min-width: 768px) {
        font-size: 1.15rem;
        font-weight: normal;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 1.4rem;
        font-weight: normal;
    }
}